.App {
  text-align: center;
  opacity: 0.8;
  margin: 0;
}

h1 {
  color: rgb(159, 159, 159);
  padding: 2rem;
  margin: 0;
}


#light {
  background-color: #575757;
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
}

#dark {
  background-color:#0c0c0c;
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

#light .main-container {
  background-color: #afafaf;
}

#dark .main-container {
  background-color:#141414;
}

.switch {
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  
}
